<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>70</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>0</string>
					<key>Timestamp</key>
					<string>745270636.427492</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Spar/View/CartView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>import SwiftUI

struct CartView: View {
    @ObservedObject var viewModel = ViewModel()

    var body: some View {
        List (viewModel.selectedProducts, id: \.id) { product in
            HStack {
                Image(product.image)
                    .resizable()
                    .scaledToFit()
                    .frame(width: 50, height: 50)
                Text(product.description)
                    .font(.headline)
                Spacer()
                HStack {
                    Button(action: {
                        viewModel.decreaseQuantity(for: product)
                    }) {
                        Image("Minus")
                            .frame(width: 10, height: 10)
                    }
                    .buttonStyle(PlainButtonStyle())
                    VStack {
                        Text("\(viewModel.quantityText(for: product))")
                            .font(.system(size: 16))
                            .fontWeight(.bold)
                        Text("~\(viewModel.totalCost(for: product))")
                            .font(.system(size: 14))
                            .fontWeight(.regular)
                    }
                    Button(action: {
                        viewModel.increaseQuantity(for: product)
                    }) {
                        Image("Plus")
                            .frame(width: 10, height: 10)
                    }
                    .buttonStyle(PlainButtonStyle())
                }
                .contentShape(Rectangle())
                .padding(EdgeInsets(top: 5, leading: 10, bottom: 5, trailing: 10))
                .background(Color(UIColor(named: "#15B742") ?? .red))
                .clipShape(.rect(cornerRadius: 50))
                .foregroundColor(.white)
            }
            .foregroundStyle(.black)
            .contentShape(Rectangle())
            .listRowBackground(Color.white)
            .toolbar {
                ToolbarItem(placement: .principal) {
                    VStack {
                        Text("Корзина")
                            .font(.headline)
                            .foregroundStyle(.black)
                    }
                }
            }
        }
        .listStyle(.plain)
        .listRowSpacing(1)
        .scrollIndicators(.hidden)
        .scrollContentBackground(.hidden)
        .background(.white)
        .toolbarBackground(.white, for: .navigationBar)
    }
}

#Preview {
    CartView()
}
</string>
				<key>leading</key>
				<string></string>
				<key>trailing</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
